{% extends 'base.html' %}
{% load static %}

{% block title %}News Home{% endblock %}

{% block content %}
    <h1>Welcome to the News Application</h1>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! You are logged in as a {{ user.role }}.</p>
        <p><a href="{% url 'dashboard' %}">Go to your dashboard</a></p>

        {% if user.role == 'Editor' or user.role == 'Journalist' %}
            <p><a href="{% url 'create_publisher' %}" class="btn">Create Publisher</a></p>
        {% endif %}
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a> to continue.</p>
    {% endif %}
{% endblock %}
